@using static Firm.Utility.Miscellaneous.Enum
@model CowSummaryVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    //int TotalCow = 0;
    //int TaotalOX = 0;
    //int TaotalHeifer = 0;
    //int TaotalCalf = 0;

    //TaotalOX = Model.Where(c => c.LivestockTypeVal == (LivestockType?)1).Count();
    //TotalCow = Model.Where(x => x.LivestockTypeVal == (LivestockType)2).Count();
    //TaotalHeifer = Model.Where(x => x.LivestockTypeVal == (LivestockType)3).Count();
    //TaotalCalf = Model.Where(x => x.LivestockTypeVal == (LivestockType)4).Count();
}
<style>
    /* CSS for the container */


    /* CSS for the small box */
    .small-box {
        background-image: url('~/kgfiles/cow.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #00ff11; /* Background color with opacity */
        color: #ffffff; /* Text color */
        padding: 20px; /* Adjust padding as needed */
        border-radius: 10px; /* Rounded corners */
    }

        .small-box h3 {
            font-size: 36px; /* Adjust font size as needed */
        }

        .small-box p {
            font-size: 18px; /* Adjust font size as needed */
        }

    /* Center the small box within the container */
    .small-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* 100% viewport height */
    }

    .img-responsive {
        max-width: 100%;
        height: 100%;
    }
</style>
<div class="content-header">
    <div class="container-fluid ">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section>


    <div class="container-fluid ">

        <div class="row">

            <div class="col-lg-3 col-6 ">

                <div class="small-box ">



                    <div class="inner text-center">
                        <h3>@Model.Totalcow</h3>
                        <p>Total Cow</p>
                    </div>





                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box ">


                    <div class="inner text-center">
                        <h3>@Model.TotalOX</h3>
                        <p>Total OX</p>
                    </div>



                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">
                        <h3>@Model.TotalHeifer</h3>
                        <p>Total Heifer</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">

                        <h3>@Model.TotalCalf</h3>
                        <p>Total Calf</p>

                    </div>
                    @*<div class="icon">
                    <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">

                        <h3>@Model.YesterdayTotalMilk.ToString("F2")</h3>
                        <p>Yesterday Total Milk</p>

                    </div>
                    @*<div class="icon">
                    <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">

                        <h3>@Model.TotalMilkProduced.ToString("F2")</h3>
                        <p>Last 30 Days Milk</p>

                    </div>
                    @*<div class="icon">
                    <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">

                        <h3>@Model.TotalTreatmentCost.ToString("F2") /-</h3>
                        <p>30 Days Medical Expense</p>

                    </div>
                    @*<div class="icon">
                    <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <div class="col-lg-3 col-6">

                <div class="small-box ">
                    <div class="inner text-center">

                        <h3>@Model.TotalFeedingCost.ToString("F2") /-</h3>
                        <p>Last 30 Days Feed Expense</p>

                    </div>
                    @*<div class="icon">
                    <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </div>

        </div>
    </div>
</section>


