@using static Firm.Utility.Miscellaneous.Enum
@model CowServiceViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TCL Agro </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/AdminLib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/AdminLib/admin/css/adminlte.min.css" rel="stylesheet" />
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .small, small {
        font-size: 61%;
        font-weight: 600;
    }

    @@page {
        size: auto;
        margin: 0mm;
    }

    html {
        background-color: #FFFFFF;
        margin: 0mm;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 75%;
        margin: 50px auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tfoot {
        font-weight: bold;
    }

    #print-button {
        margin-top: 20px;
        text-align: center;
    }

    @@media print {
        #print-button {
            display: none;
        }
    }

    .company-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3px;
    }

    .company-logo img {
        max-width: 100px;
        max-height: 100px;
    }

    .company-details {
        margin-left: 20px;
    }

        .company-details p {
            margin: 0;
            font-size: 14px;
            line-height: 1.4;
        }

    .print-link {
        float: right;
    }
</style>
<body>
    <div class="print-link">
        <a href="javascript:window.print()"><i class="fa fa-print"></i> Print</a>
    </div>
    <div class="container row">
        <div class="col-4"> </div>
        <div class="company-info col-4 ">
            <div class="company-logo">
                <img src="~/kgfiles/firmlogo.png" alt="Company Logo">
            </div>
            <div class="company-details">
                <p1><strong>TCL AGRO DAIRY FIRM</strong></p1>
                <p><strong> Dhaka, Bangladesh</strong></p>
                <p><strong>Phone:</strong> 01700000000</p>
                <p><strong>Print Date:</strong> @DateTime.Now</p>
            </div>
        </div>
        <div class="col-4"> </div>

       
    </div>


    <div class="wrapper print-margin">
        <!-- Main content -->


        <div class="container">

            <table class="table table-sm table-striped">

                <tbody>
                    <tr>
                        <td colspan="8" class="print-tr bg-warning text-center text-bold"> Summary </td>
                    </tr>
                    <tr>
                        <th>Tag and Type</th>
                        <th>Breed</th>
                        <th class="text-center">Buying Price</th>
                        <th class="text-center">Treatment Cost</th>
                        <th class="text-center">Vaccine Cost</th>
                        <th class="text-center">Feeding Cost</th>
                        <th class="text-center">Total Cost</th>
                        <th class="text-center">Milk Produced</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        @* <th></th>*@
                        <th class="text-center">(A)</th>
                        <th class="text-center">(B)</th>
                        <th class="text-center">(C)</th>
                        <th class="text-center">(D)</th>
                        <th class="text-center">(E = A+B+C+D)</th>
                        <th class="text-center">F</th>
                    </tr>

                    <tr>
                        <td>@Model.TagId (@Model.LivestockTypeName)</td>
                        <td>@Model.BreedName</td>
                        <td class="text-right">@Model.Price.ToString()</td>
                        <td class="text-right">@Model.cowSummaryVM.TotalTreatmentCost</td>
                        <td class="text-right">@Model.cowSummaryVM.TotalVaccineCost</td>
                        <td class="text-right">@Model.cowSummaryVM.TotalFeedingCost.ToString("0.00")</td>
                        <td class="text-right">@(Model.cowSummaryVM.TotalExpense.HasValue ? Model.cowSummaryVM.TotalExpense.Value.ToString("0.00") : 0) </td>
                        <td class="text-success text-right">@Model.cowSummaryVM.TotalMilkProduced <span>litre</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-sm  table-striped">

                        <tbody>
                            <tr>
                                <td colspan="1" class="print-tr bg-olive text-center text-bold">Milk</td>
                            </tr>
                            <tr class="">
                                <th class="text-center">Total Produced Milk</th>
                            </tr>

                            <tr>
                                <td class="text-right">@Model.cowSummaryVM.TotalMilkProduced <span>Litres</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">

                    <table class="table table-sm  table-striped">
                        <tbody>
                            <tr>
                                <td colspan="2" class="print-tr bg-olive text-center text-bold">Feeding</td>
                            </tr>
                            <tr class="">

                                <th class="text-center">Total Quantity</th>
                                <th class="text-center">Cost</th>
                            </tr>
                            <tr>
                                <td class="text-right">@Model.cowSummaryVM.TotalFeedingQuantity</td>
                                <td class="text-right">@Model.cowSummaryVM.TotalFeedingCost.ToString("0.00") </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-sm  table-striped">
                        <tbody>
                            <tr>
                                <td colspan="3" class="print-tr bg-olive text-center text-bold">Vaccine</td>
                            </tr>
                            <tr class="">

                                <th>Date</th>
                                <th>Description</th>
                                <th class="text-center">Cost</th>
                            </tr>
                            @foreach (var vaccine in Model.vaccineVMList)
                            {
                                <tr>
                                    <td>@vaccine.VaccineDate</td>
                                    <td>@vaccine.Name</td>
                                    <td class="text-right">@vaccine.Price</td>
                                </tr>
                            }
                            <tr>

                                <td colspan="2" class="text-center">Total Vaccine Cost: </td>
                                <td class="text-right">@Model.cowSummaryVM.TotalVaccineCost</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-sm  table-striped">
                        <tbody>
                            <tr>
                                <td colspan="3" class="print-tr bg-olive print-tr text-center text-bold"> Treatement</td>
                            </tr>
                            <tr class="">

                                <th>Date</th>
                                <th>Description</th>
                                <th class="text-center">Cost</th>
                            </tr>
                            @foreach (var treatement in Model.treatmentVMList)
                            {
                                <tr>
                                    <td>@treatement.TreatmentDate</td>
                                    <td>@treatement.TreatmentDetails</td>
                                    <td class="text-right">@treatement.Price</td>
                                </tr>
                            }
                            <tr>

                                <td colspan="2">Total Treatement Cost: </td>
                                <td class="text-right">@Model.cowSummaryVM.TotalTreatmentCost</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @* <script>
    window.addEventListener("load", window.print());
    </script>*@





</body>
</html>

